<!doctype html>

<html lang="en">
<head>
    <title>Modena template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="author" />
    <meta name="description" content="description" />
    <link rel="icon" type="image/png" href="/favicon.png?$modena=basic-template">

    <link href="/lib/bootstrap-3.2.0/css/bootstrap.min.css?$modena=basic-template" rel="stylesheet" type="text/css" />
    <link href="/lib/font-awesome-4.4.0/css/font-awesome.css?$modena=basic-template" rel="stylesheet" type="text/css" />
    <link href="/css/main.css?$modena=basic-template" rel="stylesheet" type="text/css" />
</head>

<body>
	<center><h1>Modena template</h1></center>
  
    <script src="/lib/jquery-2.1.1/jquery-2.1.1.min.js?$modena=basic-template" type="text/javascript"></script>
    <script src="/lib/bootstrap-3.2.0/js/bootstrap.min.js?$modena=basic-template" type="text/javascript"></script>
    <script src="/js/app.js?$modena=basic-template" type="text/javascript"></script>
</body>
</html>