<!doctype html>

<html lang="en">
<head>
    <title>Modena authentication template</title>
    <% include partials/_head.ejs %>
</head>

<body>
	<% include partials/_header.ejs %>

	<h3>Home</h3>

    <a href="/ying?namespace=authentication-template">Ying list</a>
    <a href="/yang?namespace=authentication-template">Yang list</a>
  
  	<% include partials/_footer.ejs %>
    
    <script type="text/javascript">
        $(function() {
            window.application.authentication.pageLoad();
        });
    </script>
</body>
</html>