<!doctype html>

<html lang="en">
<head>
    <title>Yang list</title>
    <% include partials/_head.ejs %>
</head>

<body>
	<% include partials/_header.ejs %>

    <a href="/authentication-template/">Home</a>

	<h3>Yang list</h3>

    <a href="/authentication-template/yang/create" id="create-button">Create</a>

    <br /><br />

	<div id="yang-list"></div>
  
  	<% include partials/_footer.ejs %>

    <script type="text/javascript" src="<%= asset('js/yang-list.js') %>"></script>
</body>
</html>