<!doctype html>

<html lang="en">
<head>
    <title>Ying details</title>
    <% include partials/_head.ejs %>
</head>

<body>
	<% include partials/_header.ejs %>

	<a href="/ying?namespace=authentication-template">Back to list</a>

	<div id="element-wrapper" data-element-id="<%= yingId %>"></div>

    <a href="/ying/edit?id=<%= yingId %>&namespace=authentication-template" id="edit-element">Edit</a>

    <button type="button" id="delete-element">Delete</button>

	<% include partials/_footer.ejs %>

    <script type="text/javascript" src="<%= asset('js/ying-details.js') %>"></script>
</body>
</html>